:root {
  --text-color: rgb(117, 117, 117, 1);
  --white-color: rgb(255, 255, 255, 1);
  --hover-allblue: rgb(33, 150, 243, 1);
  --teg-h-navigation: rgb(33, 33, 33, 1);
  --background-black: rgb(47, 48, 58, 1);
  --logo-black: rgb(0, 0, 0, 1);
  --footer-link: rgb(255, 255, 255, 0, 6);
  --ourteam-background: rgb(245, 244, 250, 1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.site-page {
  background-color: var(--white-color);
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* header */

.site-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.logo {
  font-family: Raleway;
  color: var(--logo-black);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.logo-part {
  color: var(--hover-allblue);
}

.site-navigation .link.current {
  color: var(--hover-allblue);
}

.link {
  color: var(--teg-h-navigation);
}

.link:hover,
.link:focus {
  color: var(--hover-allblue);
}

.site-contacts {
  color: var(--text-color);
}

.site-contacts:hover,
.site-contacts:focus {
  color: var(--hover-allblue);
}

/* footer */
.footer {
  background-color: var(--background-black);
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--white-color);
}

.footer-contacts {
  font-style: normal;
}

.footer-adress {
  color: var(--white-color);
  font-size: 14px;
  line-height: 24px;
}

.footer-link {
  color: var(--footer-link);
  font-size: 14px;
  line-height: 24px;
}
